/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body {
	background-color: transparent;
}

.clear_fix {
	clear:both;
}

#main_container {
	/*z-index: 1;*/
	background-color: transparent;
	width:100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#game_options_heading {
	/* nothing yet */
}

#game_options {
	padding: 2%;
	font-size: 30px;
	width: 60%;
	height: 60%;
	border: 4px solid black;
	position: absolute;
	top: 15%;
	left: 20%;
	display: none;
	background-color: white;
}

#instrctions ul {
	
}

#instructions_list {
	list-style-type: none;
}

#instructions_list li {
	font-weight: normal;
	font-size: 50%;

}

.key_name {
	font-weight: bold;
}

.key_desc {
	text-decoration: italic;
}

#game_options_inputs {
	height: 20%;
}

.options_subcontainer {
	margin-bottom: 5%;
}

#reset_button {
	background-color: black;
	color: white;
	font-size: 15px;
	padding: 5px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

#more_button {
	font-size: 450%;
	color: white;
	/*border: 4px solid black;*/
	height: 20%;
	position: absolute;
	top: 0;
	display: inline-block;
	text-align: center;
}

#game_board {
	position: absolute;
	top: 8%;
	left: 0;
	width: 100%;
	height:92%;
	z-index: -2;
	border: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#game_name {
	color: white;
	font-size: 450%;
	background-color: transparent;
	padding-right: 10px;
	z-index: 1;
	/*width: 30%;*/
	display: inline-block;
	float: right;
}

#score_display {
	padding-right: 5%;
	padding-left: 5%;
	text-align: center;
	z-index: 1;
	font-size: 450%;
	color: white;
	left: 0;
	background-color: black;
	display: inline-block;

}

#navbar {
	border-bottom: 4px solid black;
	border-top: 4px solid black;
	height: 10%;
	z-index: 1;
	background-color: black;
}

@media (max-height: 680px) {
	#max_score {
		display: none;
	}
	#more_button {
		left: 21%;
	}
}

@media (max-width: 1024px) {
	#max_score {
		display: none;
	}
	#more_button {
		left: 22%;
	}
}

@media (max-width: 760px) {
	#game_name {
		font-size: 300%;
	}
}

@media (max-width: 480px) {
	#more_button {
		font-size: 300%;
		padding-top: 1%;
	}
	#score_display {
		font-size: 450%;
	}
	#max_score {
		display: none;
	}
	#game_name {
		font-size: 280%;
	}
}